/* app css stylesheet */

.cabeca_pra_baixo {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bordinha {
    border-radius: 10px;
    border: solid;
    padding: 5px;
    border-width: 1px;
}

.thumb40 {
    max-width: 40px;
    max-height: 40px;
}

.selected {
    background-color: #aff0a8;
}

.pop-options {
    position: absolute;
    padding: 0px;
    z-index: 1;
    background-color: white;
	min-width:160px;
	min-height:20px;
}

.pop-options ul {
    list-style: none;
    margin-left: 0px;
}
.pop-options ul li {
    margin: 0px;
    padding: 6px 5px;
}

.pop-options ul li:hover {
    background-color: #aaf;
    cursor: pointer;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.transparent-layer {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 );
}