.timeline-comment-wrapper {position: relative;padding-left: 64px;margin-top: 15px;margin-bottom: 15px;border-top: 2px solid #fff;border-bottom: 2px solid #fff;}
.timeline-comment-avatar {float: left;margin-left: -64px;border-radius: 4px;}
.timeline-comment {position: relative;background-color: #fff;border: 1px solid #ddd;border-radius: 4px;}
.timeline-comment-header {padding-left: 15px;padding-right: 15px;color: #777;background-color: #f7f7f7;border-bottom: 1px solid #eee;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.timeline-comment-header-text {padding-top: 10px;padding-bottom: 10px;}
.timeline-comment-header .timestamp, .timeline-comment-header .comment-type-icon {color: inherit;}
.timeline-comment-header .comment-header-tag {float:right;margin-top:-2px;padding:2px 5px;font-size:12px;color:#999;border:1px solid #ddd;border-radius:3px}
.timeline-comment-header-text code a {color:inherit}
.timeline-comment-header-gravatar{float:left;margin-top:10px;margin-right:5px;border-radius:2px}
.timeline-comment .comment+.comment{border-top:1px solid #e5e5e5}
.timeline-comment .comment+.comment:before,.timeline-comment .comment+.comment:after{display:none}
.timeline-comment .comment+.comment .timeline-comment-header{border-top-left-radius:0;border-top-right-radius:0}
.timeline-comment-actions{float:right;margin-right:-5px;margin-left:10px}
.timeline-comment-actions .octicon{padding:10px 5px;color:inherit;opacity:.5}
.timeline-comment-actions .octicon:hover{opacity:1;color:#4183c4;text-decoration:none}
.compare-tab-comments .timeline-comment-actions{display:none}
.timeline-comment-wrapper>.timeline-comment-current-user{border-color:#bfccd1}
.timeline-comment-wrapper>.timeline-comment-current-user:after{border-right-color:#f2f8fa}
.timeline-comment-wrapper>.timeline-comment-current-user:before{border-right-color:#bfccd1}
.timeline-comment-wrapper>.timeline-comment-current-user .timeline-comment-header{color:#8e9597;background-color:#f2f8fa;border-bottom-color:#e1edf1}
.timeline-comment-wrapper>.timeline-comment-current-user .comment-header-tag{color:#8e9597;border-color:#bfccd1}
.timeline-comment-wrapper>.timeline-comment-mention{border-color:#bfd1bf}
.timeline-comment-wrapper>.timeline-comment-mention:after{border-right-color:#f3fbf3}
.timeline-comment-wrapper>.timeline-comment-mention:before{border-right-color:#bfd1bf}
.timeline-comment-wrapper>.timeline-comment-mention .timeline-comment-header{color:#869286;background-color:#f3fbf3;border-bottom-color:#e0ebe0}
.timeline-comment-wrapper>.timeline-comment-mention .comment-header-tag{color:#869286;border-color:#bfd1bf}
.timeline-comment-wrapper>.timeline-comment:after,.timeline-comment-wrapper>.timeline-comment:before,.timeline-new-comment .timeline-comment:after,.timeline-new-comment .timeline-comment:before{position:absolute;top:11px;left:-16px;right:100%;width:0;height:0;display:block;content:" ";border-color:transparent;border-style:solid solid outset;pointer-events:none}
.comment-body{width:90%;padding:15px;font-size:14px;overflow:initial}
.comment-body .highlight{background-color:transparent;overflow:visible !important}
.markdown-body{font-size:15px;line-height:1.7;overflow:hidden;word-wrap:break-word}
.markdown-body>*:first-child{margin-top:0 !important}
.markdown-body>*:last-child{margin-bottom:0 !important}
.markdown-body a.absent{color:#c00}
.markdown-body a.anchor{display:block;padding-right:6px;padding-left:30px;margin-left:-30px;cursor:pointer;position:absolute;top:0;left:0;bottom:0}
.markdown-body a.anchor:focus{outline:none}
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6{margin:1em 0 15px;padding:0;font-weight:bold;line-height:1.7;cursor:text;position:relative}
