<span>
    Owner:
    <span style="position: relative;">
        <input type="text" ng-model="search_owner" ng-keyup="searchowner_keyup($event)">
        <img ng-show="searching_users" src="../img/loader.gif">
        <div class="pop-options" ng-show="showusers">
            <ul>
                <li ng-repeat="user in githubusers" ng-click="selectowner(user)">
                  <img class="square32" ng-src="{[{ user.avatar_url }]}">
                  {[{ user.login }]}
                </li>
            </ul>
        </div>
    </span>
    Repository:
    <img ng-show="listing_repos" src="../img/loader.gif">
    <select ng-model="selected_repo" 
      ng-options="repo.name for repo in repos"
      ng-change="onchooserepo({repo:selected_repo})"></select>
</span>
