<span>
    Owner:
    <span style="position: relative;">
        <input type="text" ng-model="gm.username_input" ng-keyup="searchowner_keyup($event)">
        <img ng-show="gm.buscando_usuarios" src="../img/loader.gif">
        <div class="pop-options" ng-show="gm.mostra_usuarios_encontrados">
            <ul>
                <li ng-repeat="user in gm.usuarios_encontrados" ng-click="selectowner(user)">
                  <img class="square32" ng-src="{[{ user.avatar_url }]}">
                  {[{ user.login }]}
                </li>
            </ul>
        </div>
    </span>
    Repository:
    <img ng-show="gm.buscando_repositorios" src="../img/loader.gif">
    <select ng-model="gm.repo" 
      ng-options="repo.name for repo in gm.repos_encontrados"
      ng-change="onchooserepo({repo:gm.repo})"></select>
</span>
