<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script>
    var myapp = angular.module("myapp", []);
    myapp.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    myapp.factory('Equacao2oGrau', function(){
      var m = {
        meutexto: 'oi vc vem sempre aqui?',
        a: 1,
        b: -2,
        c: 1
      };

      m.meutexto_reversed = function(){
        return m.meutexto.split("").reverse().join("")
      };
      
      m.delta = function(){
        return m.b * m.b - 4 * m.a * m.c;
      };

      m.r1 = function(){
        return (-m.b - Math.sqrt(m.delta())) / (4 * m.a);
      };

      m.r2 = function(){
        return (-m.b + Math.sqrt(m.delta())) / (4 * m.a);
      };

      return m;
    });
    
    myapp.controller('MyCtrl', function ($scope, Equacao2oGrau){
      $scope.sayhello = "Hello World!";
      $scope.m = Equacao2oGrau;
    });
  </script>
</head>
<body ng-app="myapp" ng-controller="MyCtrl">
<div class="container" style="margin: 15px;">
  <h1>Serviços e Modelos</h1>
  <hr>
  <div class="alert alert-info">
    1. As variávels usadas no template pertencem ao $scope.<br>
    O controller é uma função javascript para <strong>inicializar</strong> o $scope.
  </div>
  <h2>{[{ sayhello }]}</h2>
  <hr>
  <div class="alert alert-info">
    2. Você pode criar funções no controller <br>
    e depois usar no template.
  </div>

  <h2>Reverse</h2>
  Digita um texto: <input type="text" ng-model="m.meutexto">
  <div class="well">
    <p> Seu texto, de trás pra frente: <strong>{[{ m.meutexto_reversed() }]}</strong></p>
  </div>
  <hr>
  <div class="alert alert-info">
    3. Equacao do 2o grau sendo tratada por um serviço
  </div>

  <h2>Equação do segundo grau</h2>
  A: <input type="text" ng-model="m.a">
  B: <input type="text" ng-model="m.b">
  C: <input type="text" ng-model="m.c">
  <div class="well">
    <p> A equação do segundo grau é <strong>{[{ m.a }]}x2 + {[{ m.b }]}x + {[{ m.c }]} = 0</strong></p>
    <p> O delta é {[{ m.delta() }]} </p>
    <p> As raízes são {[{ m.r1() }]} e {[{ m.r2() }]}</p>
  </div>
  <hr>

  <div class="alert alert-info">
    Tony, não esquece:
    <ul>
      <li>Lógica no controller x lógica no serviço</li>
      <li>Serviços são singletons</li>
      <li>Poderia ter mais de um serviço</li>
    </ul>
  </div>

  <h3>Que lindo! Vamo pra frente!</h3>
  <ul>
    <li><a href="007-ngClick.html">ng-click</a></li>
  </ul>
</div>

</body>
</html>
