<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script>
    var myapp = angular.module("myapp", []);
    myapp.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    myapp.controller('MyCtrl', function ($scope){
      $scope.angle = 0;

      $scope.vai = function(){
        $scope.angle += 30;
        while($scope.angle >= 360){
          $scope.angle -= 360;
        }
      }
      $scope.volta = function(){
        $scope.angle -= 30;
        while($scope.angle < 0){
          $scope.angle += 360;
        }
      }

    });
    
  </script>
</head>
<body ng-app="myapp" ng-controller="MyCtrl">
<div class="container" style="margin: 15px;">
  <h1>ng-click</h1>
  <hr>
    <hr>
    <h1>Gira gira gira....</h1>
    <div>
        <img style="-webkit-transform: rotate({[{ angle }]}deg);" src="../img/tony.jpeg">
    </div>
    <button ng-click="volta()">&lt;&lt;&lt;</button>
    <button ng-click="vai()">&gt;&gt;&gt;</button>


  <h3>Da hora! Que mais?</h3>
  <ul>
    <li><a href="008-ngRepeat-filter.html">ng-repeat + filter</a></li>
  </ul>
</div>

</body>
</html>
