<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.10.2.min.js"></script>
  <script src="../js/base.js"></script>
  <script>
    function MyCtrl($scope){
    	$scope.progress = 0;

      var DOTS = '....................................................................................................';
      var PIPES = '||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||';

      $scope.progress_bar = function (){
        return '[' + PIPES.substring(0, $scope.progress) + DOTS.substring(0, 100 - $scope.progress) + ']'
      }

      function tick(){
        if($scope.progress < 100){
          $scope.progress++;
          setTimeout(tick, 50);
          $scope.$digest();
        }
      }

      $scope.start = function(){
        setTimeout(tick, 0)
      }

      //////////////////////////////////////////////

      $scope.get_issues = function(){
        var url = 'https://api.github.com/repos/freedomsponsors/www.freedomsponsors.org/issues';
        $scope.loading_issues = true;
        $.get(url).success(function(result){
          $scope.loading_issues = false;
          $scope.issues = result;
          $scope.$digest();
        })
      }

    }
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin: 15px;">
    <h1>$digest</h1>
    <hr>
    <div>
      <h2>Uma barra de progresso</h2>

      <div>
        <span>{[{progress_bar()}]}</span>
        <strong>{[{progress}]}%</strong>
      </div>
      <button ng-show="progress < 100" ng-click="start()">Vai!</button>
      <div ng-show="progress >= 100">
        Acabou! :-)
      </div>

      <div class="alert alert-info">
        Tony, não esquece:
        <ul>
          <li>varios cliques</li>
          <li>tira o digest</li>
          <li>$timeout</li>
        </ul>
      </div>
      <hr>
      
      <h2>Issues do Github</h2>
      <button ng-click="get_issues()">Vai buscar!</button>
      <img ng-show="loading_issues" src="../img/loader.gif">

      <table class="table">
        <tr>
          <th>ID</th>
          <th>Título</th>
        </tr>
        <tr ng-repeat="issue in issues">
          <td>{[{issue.id}]}</td>
          <td>{[{issue.title}]}</td>
        </tr>
      </table>
      
      <div class="alert alert-info">
        Tony, não esquece:
        <ul>
          <li>tira o digest</li>
          <li>$http</li>
        </ul>
      </div>
      <hr>

      <h3>Nossa, tô ficando cansado de tanta teoria... Cadê a parte prática??</h3>
      <ul>
        <li><a href="013-index_event_log.html">Calma que tá acabando: $index, $event e $log</a></li>
      </ul>
    </div>
  </div>

</body>


</html>



