<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.10.2.min.js"></script>
  <script src="../js/base.js"></script>
  <script>
    function MyCtrl($scope, $http, $log){

      function get_issues(){
        var url = 'https://api.github.com/repos/freedomsponsors/www.freedomsponsors.org/issues';
        $scope.loading_issues = true;
        $http.get(url).success(function(result){
          $scope.loading_issues = false;
          $scope.issues = result;
        })
      }

      get_issues();

      function _troca(array, i, j){
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }

      $scope.sobe = function(indice){
        _troca($scope.issues, indice, indice - 1);
      };

      $scope.desce = function(indice){
        _troca($scope.issues, indice, indice + 1);
      }

      ///////////////////////////////////////////////////

      var fotos = [
        "../img/phones/motorola-xoom-with-wi-fi.0.jpg", 
        "../img/phones/motorola-xoom.0.jpg", 
        "../img/phones/motorola-atrix-4g.0.jpg", 
        "../img/phones/dell-streak-7.0.jpg", 
        "../img/phones/samsung-gem.0.jpg", 
        "../img/phones/dell-venue.0.jpg", 
        "../img/phones/nexus-s.0.jpg", 
        "../img/phones/lg-axis.0.jpg", 
        "../img/phones/samsung-galaxy-tab.0.jpg", 
        "../img/phones/samsung-showcase-a-galaxy-s-phone.0.jpg", 
        "../img/phones/droid-2-global-by-motorola.0.jpg", 
        "../img/phones/droid-pro-by-motorola.0.jpg", 
        "../img/phones/motorola-bravo-with-motoblur.0.jpg", 
        "../img/phones/motorola-defy-with-motoblur.0.jpg", 
        "../img/phones/t-mobile-mytouch-4g.0.jpg", 
        "../img/phones/samsung-mesmerize-a-galaxy-s-phone.0.jpg", 
        "../img/phones/sanyo-zio.0.jpg", 
        "../img/phones/samsung-transform.0.jpg", 
        "../img/phones/t-mobile-g2.0.jpg", 
        "../img/phones/motorola-charm-with-motoblur.0.jpg", 
      ];

      var indicefoto = 0
      $scope.foto = fotos[indicefoto];

      $scope.passafoto = function(evento){
        $log.info(evento);
        if(evento.x > 320){
          indicefoto++;
          if(indicefoto >= fotos.length){
            indicefoto -= fotos.length;
          }
        }
        if(evento.x < 80){
          indicefoto--;
          if(indicefoto < 0){
            indicefoto += fotos.length;
          }
        }
        $scope.foto = fotos[indicefoto];
      }

    }
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin: 15px;">
    <h1>$index, $event, $log</h1>
    <hr>
      
    <h2>Sobe/Desce</h2>
    <img ng-show="loading_issues" src="../img/loader.gif">

    <table class="table">
      <tr>
        <th>ID</th>
        <th>$index</th>
        <th>controls</th>
        <th>Título</th>
      </tr>
      <tr ng-repeat="issue in issues" ng-class="{selected: issue.is_selected}" ng-click="issue.is_selected=true">
        <td>{[{issue.number}]}</td>
        <td>{[{$index}]}</td>
        <td>
          <button ng-show="$index > 0" ng-click="sobe($index)"><i class="icon-chevron-up"></i></button>
          <button ng-show="$index < issues.length - 1" ng-click="desce($index)"><i class="icon-chevron-down"></i></button>
        </td>
        <td>{[{issue.title}]}</td>
      </tr>
    </table>
    <hr>
    <h2>Carrossel</h2>
    <img ng-src="{[{foto}]}" ng-click="passafoto($event)">
    <div class="alert alert-info">
      Tony, não esquece:
      <ul>
        <li>Mostra o closure em ação</li>
      </ul>
    </div>
    <hr>

    <h3>Blz blz, vamo pra umas coisas mais práticas?!</h3>
    <ul>
      <li><a href="014-pratica1-todolist_denovo.html">Blz, vamos ver a TODO-list de novo</a></li>
    </ul>
  </div>

</body>


</html>



