<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/github.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.10.2.min.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/github.js"></script>
  <script>
    function MyCtrl($scope, $log, $timeout, Github){
      
      //Github user autocomplete
      var DELAY = 200;
      var timer;
      $scope.searchowner_keyup = function(evt){
        if(timer){
          $timeout.cancel(timer)
        }
        timer = $timeout(function(){
          $scope.searching_users = true;
          if($scope.search_owner){
            Github.search_users($scope.search_owner).
              success(function(result){
                $scope.searching_users = false;
                $scope.githubusers = result.items;
                $scope.showusers = true;
              });
          }
          timer = null;
        }, DELAY);
      }

      //Populate repo combo
      $scope.selectowner = function(user){
        $scope.search_owner = user.login;
        $scope.showusers = false;
        $scope.listing_repos = true;
        Github.list_user_repos($scope.search_owner).success(function(repos){
          $scope.listing_repos = false;
          $scope.repos = repos;
        })
      }

      //list first issues
      $scope.onselect_repo = function(){
        page = 0;
        $scope.issues = [];
        $scope.theres_more = true;
        $scope.get_more_issues();
      }

      //Infinite scrolling
      var page;
      $scope.theres_more = true;
      $scope.get_more_issues = function(){
        page++;
        $scope.loading_issues = true;
        Github.list_issues($scope.selected_repo.owner.login, $scope.selected_repo.name, page).
          success(function(issues){
            $log.info('got '+issues.length+' issues');
            $scope.issues = $scope.issues.concat(issues);
            if(issues.length == 0){
              $scope.theres_more = false;
            }
            $scope.loading_issues = false;
          }).
          error(function(result,status){
            $log.error("status "+status);
            $log.error(result);
            alert(result.message);
            $scope.loading_issues = false;
          });
      };

      $scope.open = function(issue){
        $scope.selected_issue = issue;
      }

      $scope.close = function(){
        $scope.selected_issue = null;
      };

    }
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin: 15px;">
    <h1>Navegador de issues</h1>
    <hr>
      
    <h2>Sobe/Desce</h2>

    <span>
        Owner:
        <span style="position: relative;">
            <input type="text" ng-model="search_owner" ng-keyup="searchowner_keyup($event)">
            <img ng-show="searching_users" src="../img/loader.gif">
            <div class="pop-options" ng-show="showusers">
                <ul>
                    <li ng-repeat="user in githubusers" ng-click="selectowner(user)">
                      <img class="icon-32" ng-src="{[{ user.avatar_url }]}">
                      {[{ user.login }]}
                    </li>
                </ul>
            </div>
        </span>
        Repository:
        <img ng-show="listing_repos" src="../img/loader.gif">
        <select ng-model="selected_repo" 
          ng-options="repo.name for repo in repos"
          ng-change="onselect_repo()"></select>
    </div>
      
    <table class="table" style="width: 450px;">
      <tr>
        <th style="width:60px;">ID</th>
        <th style="width:300px;">Título</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="issue in issues">
        <td>
          <i class="icon-exclamation-sign" ng-if="issue.state == 'open'"></i>
          <i class="icon-ok-circle" ng-if="issue.state == 'closed'"></i>
          {[{issue.number}]}
        </td>
        <td>
          <a href ng-click="open(issue)">
            {[{issue.title}]}
          </a>
        </td>
        <td>{[{issue.state}]}</td>
      </tr>
    </table>
    <img ng-show="loading_issues" src="../img/loader.gif">
    <button ng-click="get_more_issues()" ng-show="selected_repo && theres_more">Mooooore!</button>
    <div class="alert alert-warn" ng-show="selected_repo && !theres_more">
      Acabou!
    </div>
    <hr>
 
    <h3>Da hora!!! Tem mais??</h3>
    <ul>
      <li><a href="015-pratica3-navegador_de_repositorio.html">Teeeeem. Vamo navegar nos códigos do Github :-)</a></li>
    </ul>
  </div>

  <div class="transparent-layer" ng-show="selected_issue">

    <div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;margin-top: 50px;min-height: 400px;max-height:80%;min-width:600px;">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">×</button>
        <h3>{[{ selected_issue.title }]}</h3>
      </div>
      <div class="modal-body" style="max-height:80%;">


        <div class="timeline-comment-wrapper js-comment-container">
          <a href="/tonylampada"><img alt="tonylampada" class="timeline-comment-avatar js-avatar" data-user="218821" height="48" src="https://0.gravatar.com/avatar/4dbc40e7a6fa89a3568a926378c22ace?d=https%3A%2F%2Fidenticons.github.com%2F36820d9cff981312031789b1900ade2c.png&amp;r=x&amp;s=140" width="48"></a>
          <div class="timeline-comment timeline-comment-owner-comment">
            <div id="issue-27429351" class="comment js-comment js-task-list-container">
              <div class="timeline-comment-header ">
                <div class="timeline-comment-header-text">
                  <strong>
                    <a href="http://github.com/tonylampada" class="author">tonylampada</a>
                  </strong>
                  commented
                  <a href="#issue-27429351" class="timestamp"><time class="js-relative-date" title="2014-02-12 10:22:44">21 days ago</time></a>
                </div>
              </div>

              <div class="comment-content">
                <div class="edit-comment-hide">
                  <div class="comment-body markdown-body markdown-format js-comment-body">
                    <p>Something is wrong with Blockchain API. It seems they've taken measures to protect themselves against the recent DDoS attacks to the Bitcoin network.</p>
                    <p>Find out what we need to do to make API calls work again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-comment-wrapper js-comment-container">
          <a href="/tonylampada"><img alt="tonylampada" class="timeline-comment-avatar js-avatar" data-user="218821" height="48" src="https://0.gravatar.com/avatar/4dbc40e7a6fa89a3568a926378c22ace?d=https%3A%2F%2Fidenticons.github.com%2F36820d9cff981312031789b1900ade2c.png&amp;r=x&amp;s=140" width="48"></a>
          <div class="timeline-comment timeline-comment-owner-comment">
            <div id="issue-27429351" class="comment js-comment js-task-list-container">
              <div class="timeline-comment-header ">
                <div class="timeline-comment-header-text">
                  <strong>
                    <a href="http://github.com/tonylampada" class="author">tonylampada</a>
                  </strong>
                  commented
                  <a href="#issue-27429351" class="timestamp"><time class="js-relative-date" title="2014-02-12 10:22:44">21 days ago</time></a>
                </div>
              </div>

              <div class="comment-content">
                <div class="edit-comment-hide">
                  <div class="comment-body markdown-body markdown-format js-comment-body">
                    <p>Something is wrong with Blockchain API. It seems they've taken measures to protect themselves against the recent DDoS attacks to the Bitcoin network.</p>
                    <p>Find out what we need to do to make API calls work again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-comment-wrapper js-comment-container">
          <a href="/tonylampada"><img alt="tonylampada" class="timeline-comment-avatar js-avatar" data-user="218821" height="48" src="https://0.gravatar.com/avatar/4dbc40e7a6fa89a3568a926378c22ace?d=https%3A%2F%2Fidenticons.github.com%2F36820d9cff981312031789b1900ade2c.png&amp;r=x&amp;s=140" width="48"></a>
          <div class="timeline-comment timeline-comment-owner-comment">
            <div id="issue-27429351" class="comment js-comment js-task-list-container">
              <div class="timeline-comment-header ">
                <div class="timeline-comment-header-text">
                  <strong>
                    <a href="http://github.com/tonylampada" class="author">tonylampada</a>
                  </strong>
                  commented
                  <a href="#issue-27429351" class="timestamp"><time class="js-relative-date" title="2014-02-12 10:22:44">21 days ago</time></a>
                </div>
              </div>

              <div class="comment-content">
                <div class="edit-comment-hide">
                  <div class="comment-body markdown-body markdown-format js-comment-body">
                    <p>Something is wrong with Blockchain API. It seems they've taken measures to protect themselves against the recent DDoS attacks to the Bitcoin network.</p>
                    <p>Find out what we need to do to make API calls work again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-comment-wrapper js-comment-container">
          <a href="/tonylampada"><img alt="tonylampada" class="timeline-comment-avatar js-avatar" data-user="218821" height="48" src="https://0.gravatar.com/avatar/4dbc40e7a6fa89a3568a926378c22ace?d=https%3A%2F%2Fidenticons.github.com%2F36820d9cff981312031789b1900ade2c.png&amp;r=x&amp;s=140" width="48"></a>
          <div class="timeline-comment timeline-comment-owner-comment">
            <div id="issue-27429351" class="comment js-comment js-task-list-container">
              <div class="timeline-comment-header ">
                <div class="timeline-comment-header-text">
                  <strong>
                    <a href="http://github.com/tonylampada" class="author">tonylampada</a>
                  </strong>
                  commented
                  <a href="#issue-27429351" class="timestamp"><time class="js-relative-date" title="2014-02-12 10:22:44">21 days ago</time></a>
                </div>
              </div>

              <div class="comment-content">
                <div class="edit-comment-hide">
                  <div class="comment-body markdown-body markdown-format js-comment-body">
                    <p>Something is wrong with Blockchain API. It seems they've taken measures to protect themselves against the recent DDoS attacks to the Bitcoin network.</p>
                    <p>Find out what we need to do to make API calls work again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>


</html>



