<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/github.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.10.2.min.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/github.js"></script>
  <script>
    function MyCtrl($scope, $log, $timeout, Github){
      
      //Github user autocomplete
      var DELAY = 800;
      var timer;
      $scope.searchowner_keyup = function(evt){
        if(timer){
          $timeout.cancel(timer)
        }
        timer = $timeout(function(){
          $scope.searching_users = true;
          if($scope.search_owner){
            Github.search_users($scope.search_owner).
              success(function(result){
                $scope.searching_users = false;
                $scope.githubusers = result.items;
                $scope.showusers = true;
              });
          }
          timer = null;
        }, DELAY);
      }

      //Populate repo combo
      $scope.selectowner = function(user){
        $scope.search_owner = user.login;
        $scope.showusers = false;
        $scope.listing_repos = true;
        Github.list_user_repos($scope.search_owner).success(function(repos){
          $scope.listing_repos = false;
          $scope.repos = repos;
        })
      }

      //get first level
      $scope.onselect_repo = function(){
        $scope.roots = [
          {
            name: "/",
            path: "",
            type: "dir"
          }
        ];
        $scope.toggle_expand($scope.roots[0]);
      }

      $scope.toggle_expand = function(node){
        if(node.type == "dir"){
          if(!node.loaded){
            node.loading = true;
            Github.get_contents($scope.search_owner, $scope.selected_repo.name, "/"+node.path).success(function(contents){
              node.loading = false;
              node.loaded = true;
              node.children = contents;
              node.expanded = true;
            });
          } else {
            node.expanded = !node.expanded;
          }
        }
      }

      $scope.open_file = function(node){
        if(node.type == 'file'){
          if(!node.loaded){
            node.loading = true;
            Github.get_contents($scope.search_owner, $scope.selected_repo.name, "/"+node.path).success(function(file){
              node.loading = false;
              node.loaded = true;
              node.file_contents = Github.decode_file_contents(file.content);
              $scope.opened_file = node;
              $scope.show_file_popup = true;
            })
          } else {
            $scope.opened_file = node;
            $scope.show_file_popup = true;
          }
        }
      }

      $scope.close = function(){
        $scope.show_file_popup = false;
      }

      $scope.directory_first = function(node){
        return (node.type == 'dir' ? '0' : '1') + node.name;
      }

    }
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin: 15px;">
    <h1>Navegador de repositório - passo IV</h1>
    <hr>
    <div class="alert alert-info">
      <p>Encontre um repositório no Github, navegue nos arquivos, e veja o conteúdo.</p>
    </div>
      
    <span>
        Owner:
        <span style="position: relative;">
            <input type="text" ng-model="search_owner" ng-keyup="searchowner_keyup($event)">
            <img ng-show="searching_users" src="../img/loader.gif">
            <div class="pop-options" ng-show="showusers">
                <ul>
                    <li ng-repeat="user in githubusers" ng-click="selectowner(user)">
                      <img class="square32" ng-src="{[{ user.avatar_url }]}">
                      {[{ user.login }]}
                    </li>
                </ul>
            </div>
        </span>
        Repository:
        <img ng-show="listing_repos" src="../img/loader.gif">
        <select ng-model="selected_repo" 
          ng-options="repo.name for repo in repos"
          ng-change="onselect_repo()"></select>
    </span>
      
    <ul class="tree">
      <li ng-include="'include/treenodeIV.html'" ng-repeat="node in roots"></li>
    </ul>

    <hr>

    <div class="alert alert-info">
      Olha algumas técnicas interessantes aqui:
      <ul>
        <li>node.loading</li>
        <li>cache: node.loaded</li>
      </ul>
    </div>
 
    <h3>Isso é sensacional! Eu sinto que já sei tudo de Angular!</h3>
    <ul>
      <li>Não meu amigo, tem muita coisa bacana ainda pela frente.</li>
      <li>Mas antes...</li>
      <li><a href="017-recapitulando.html">vamos só recapitular o que a gente aprendeu</a></li>
    </ul>
  </div>


  <div class="transparent-layer" ng-show="show_file_popup">

    <div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;margin-top: 50px;min-height: 400px;max-height:80%;min-width:600px;">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">×</button>
        <h3>{[{ opened_file.name }]}</h3>
      </div>
      <div class="modal-body" style="max-height:80%;">
        <pre>{[{opened_file.file_contents}]}</pre>
      </div>
    </div>

  </div>


</body>


</html>



