<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.js"></script>
  <script src="../lib/jquery-1.11.0.js"></script>

  <script>
      if(!window.Global){
          window.Global = {}
      }
      Global.angular_dependencies = [
          'phonedetail',
          'phonemodel',
      ];
  </script>

  <!-- ordem dos scripts intencionalmente embaralhada ;) -->
  <script src="../js/components/phones1/phonedetail.js"></script>
  <script src="../js/components/phones1/phonemodel.js"></script>
  <script src="../js/ajax.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/phone_api.js"></script>
  <script>

    angular.module('myapp').controller('MyCtrl', function($scope, PhoneModel){
        var m = $scope.m = PhoneModel;
    });
    
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin-left: 35px">
    <h1>Primeira diretiva - custom tag</h1>
    <hr>
    <div>

      <img src="../img/loader.gif" ng-show="m.loading">
      inputx fora <input type="text" ng-model="x">
      <div ng-show="m.selected_phone && !m.loading" class="row">
        <phone-detail></phone-detail> <!-- Muito lindo isso nénão :-) ... -->
      </div>

      <div>
        <table class="table">
          <tr>
            <th></th>
            <th>Modelo</th>
            <th>Descrição</th>
          </tr>
          <tr ng-repeat="phone in m.phones"
            ng-click="m.select(phone)">
            <td><img ng-src="{[{phone.imageUrl}]}" class="thumb40"></td>
            <td>{[{phone.name}]}</td>
            <td>{[{phone.snippet}]}</td>
          </tr>
        </table>
      </div>

      <div class="alert alert-info">
        Olha só a importância disso que a gente fez:
        <ul>
          <li>&lt;phone-detail&gt; é um componente reutilizável. Ele tem apresentação e um comportamento definidos. Eu importo o <strong>phonedetail.js</strong> na página que eu quiser e saio usando.</li>
          <li>Tudo que ele precisa é que o PhoneModel.selected_phone esteja setado.</li>
          <li><strong>ajax.js</strong> e <strong>phone_api.js</strong> não são diretivas, mas também são serviços reutilizáveis de maneira completamente independente.</li>
          <li>E atenção pro detalhe: escopo compartilhado. O $scope é <strong>o mesmo!</strong> (não tem herança de escopos aqui - Prova = inputx)</li>
        </ul>
      </div>
 
      <h3>Gostei! Que mais que dá pra fazer com essas diretivas?</h3>
      <ul>
        <li>Muita. Coisa.</li>
        <li>Uma delas é:</a></li>
        <li><a href="003-escopo_isolado.html">Passar parâmetros</a></li>
      </ul>
    </div>
  </div>

</body>
</html>
