<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../lib/angular.min.js"></script>

  <script>
      if(!window.Global){
          window.Global = {}
      }
      window.Global.angular_dependencies = [
          'modphonedetail',
          'modphonemodel',
      ];
  </script>

  <!-- ordem dos scripts intencionalmente embaralhada ;) -->
  <script src="../js/components/phones2/phonedetail2.js"></script>
  <script src="../js/components/phones1/phonemodel.js"></script>
  <script src="../js/ajax2.js"></script>
  <script src="../js/base2.js"></script>
  <script src="../js/phone_api.js"></script>
  <script>

    angular.module('myapp').controller('MyCtrl', ['$scope', 'PhoneModel', function($scope, PhoneModel){
        var m = $scope.m = PhoneModel;

        $scope.detalheimportante = 'Escopo Isolado';

        $scope.select = function(ind){
            var p = m.phones[ind];
            m.select(p);
        };
    }]);
    
  </script>
</head>

<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="container" style="margin-left: 35px">
    <h1>Diretiva de escopo isolado</h1>
    <hr>
    <div>

      <img src="../img/loader.gif" ng-show="m.loading">
      <div ng-show="m.selected_phone && !m.loading" class="row">
        <phone-detail 
          titulo="{[{ 'selecionado: '+selected_index }]}" 
          phone="m.selected_phone">
        </phone-detail>
      </div>

      <div>
        <table class="table">
          <tr>
            <th></th>
            <th>Modelo</th>
            <th>Descrição</th>
          </tr>
          <tr ng-repeat="phone in m.phones"
            ng-click="select($index)">
            <td><img ng-src="{[{phone.imageUrl}]}" class="thumb40"></td>
            <td>{[{phone.name}]}</td>
            <td>{[{phone.snippet}]}</td>
          </tr>
        </table>
      </div>

      <div class="alert alert-info">
        Importante:
        <ul>
          <li>Agora os escopos interno e externo são dois objetos javascript diferentes.</li>
          <li>@ é string, com binding unidirecional</li>
          <li>= é qualquer objeto, com binding bidirecional.</li>
          <li>Atençao pro detalhe: Escopo isolado!!</li>
        </ul>
      </div>
 
      <h3>Interessante... que mais?</h3>
      <ul>
        <li><a href="004-transclusao.html">Vamos falar de transclusão</a></li>
      </ul>
    </div>
  </div>

</body>


</html>
