<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/curso.css">
  <script src="../lib/angular.js"></script>
  <script>
    angular.module('myapp', []);
  </script>
</head>
<body ng-app="myapp"> <!-- Olha, sem controller, pode? PODE! -->
  <div class="head">
    <span style="font-weight:bold">ng-<span style="color: rgb(125, 25, 51);">masters</span></span>: AngularJS na prática
  </div>
<div class="container content"> 
  <h1>Mais sobre escopos: herança e compartilhamento</h1>

  <section>
    <h3>1. Escopo único</h3>
    <div><input type="text" ng-model="message1"></div>
    <d1-escopo-compartilhado></d1-escopo-compartilhado>
    <d1-escopo-compartilhado></d1-escopo-compartilhado>
  </section>
  <script>
    angular.module('myapp').directive('d1EscopoCompartilhado', function(){
        return {
            restrict: 'E',
            replace: true,
            template: '<div><input type="text" ng-model="message1"></div>' //poisé, isso funciona tb ;)
        }
    });
  </script>
  <!-- ================================================= -->

  <section>
    <h3>2. Escopo isolado, com binding bidirecional</h3>
    <div><input type="text" ng-model="message2"></div>
    <d2-escopo-isolado msg="message2"></d2-escopo-isolado>
    <d2-escopo-isolado msg="message2"></d2-escopo-isolado>
  </section>
  <script>
    angular.module('myapp').directive('d2EscopoIsolado', function(){
        return {
            restrict: 'E',
            replace: true,
            scope:{
                msg: '='
            },
            template: '<div><input type="text" ng-model="msg"></div>'
        }
    });
  </script>
  <!-- ================================================= -->

  <section>
    <h3>3. Escopo isolado, com binding opcional</h3>
    <div><input type="text" ng-model="message3"></div>
    <d3-binding-opcional msg="message3"></d3-binding-opcional>
    <d3-binding-opcional></d3-binding-opcional>
  </section>
  <script>
    angular.module('myapp').directive('d3BindingOpcional', function(){
        return {
            restrict: 'E',
            replace: true,
            scope:{
                msg: '=?'
            },
            template: '<div><input type="text" ng-model="msg"></div>'
        }
    });
  </script>
  <!-- ================================================= -->

  <section>
    <h3>4. Escopo isolado, com ponto</h3>
    <div><input type="text" ng-model="data4.msg"></div>
    <d4-data-ponto data="data4"></d4-data-ponto>
    <d4-data-ponto data="data4"></d4-data-ponto>
  </section>
  <script>
    angular.module('myapp').directive('d4DataPonto', function(){
        return {
            restrict: 'E',
            replace: true,
            scope:{
                data: '='
            },
            template: '<div><input type="text" ng-model="data.msg"></div>'
        }
    });
  </script>
  <!-- ================================================= -->

  <section>
    <h3>5. Herança entre escopos, sem o ponto</h3>
    <div><input type="text" ng-model="message5"></div>
    <div ng-controller="c1"><input type="text" ng-model="message5"></div>
    <div ng-controller="c1"><input type="text" ng-model="message5"></div>

    <p>WTF happened here??</p>

    <ul>
      <li>Herança entre escopos!</li>
    </ul>
  </section>
  <script>
  </script>
  <!-- ================================================= -->

  <section>
    <h3>6. Herança entre escopos, com o ponto</h3>
    <div><input type="text" ng-model="data6.message"></div>
    <div ng-if="1+1">       <input type="text" ng-model="data6.message"></div>
    <div ng-controller="c1"><input type="text" ng-model="data6.message"></div>
    <p>Será magia?</p>
  </section>
  <script>
    angular.module('myapp').controller('c1', ['$scope', function($scope){}]);
  </script>
  <!-- ================================================= -->

  <section>
    <h3>Lições valiosas:</h3>
    
    <p>Herança é pra leitura, não pra escrita.</p>
    <p>Herança entre escopos <strong>não ocorre</strong> com diretivas de escopo isolado.</p>
    <p>Um ponto faz uma baita diferença!</p>
    <p>O Angular cria escopos filho implícitos em alguns casos:</p>

    <ul>
      <li>ng-repeat</li>
      <li>transclude</li>
      <li>ng-include</li>
      <li>talvez outros</li>
    </ul>

    <ul>
      <li>
        <p>Não mude o estado das coisas no template: <pre>  ng-click="state=!state" //MAU </pre> 
      </li>
      <li>
        <p>ng-model tem q ter pontinho <pre>  ng-model="modelo.atributo" //BOM</pre> <pre>  ng-model="atributo" //Vc nao entendeu meu ponto :(</pre> 
      </li>
    </ul>
  </section>

  <footer>
    <h3>Boa dica... que mais?</h3>
    <ul>
      <li><a href="006-compartilhando_dados.html">Compartilhar dados entre controllers</a></li>
    </ul>
  </footer>
</div>

</body>
</html>
