<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../css/curso.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.11.0.js"></script>
  <script>
    window.Global = {};
    angular.module('myapp', []).config(function($interpolateProvider){
      $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    angular.module('myapp').directive('d1WatchP1p2', function(){
        return {
            restrict: 'E',
            scope: {
                p1: '@',
                p2: '='
            },
            replace: true,
            template: '<div>[ {[{p1}]} / {[{p2.msg}]} ]</div>',
            controller: ['$scope', function($scope){
                $scope.$watch('p1', function(newvalue,oldvalue){
                    console.log('mudou o p1: ' + oldvalue + ' --> ' + newvalue);
                });
                $scope.$watch('p2.msg', function(newvalue,oldvalue){
                    console.log('mudou o p2.msg: ' + oldvalue + ' --> ' + newvalue);
                });
            }]
        }
    });

    angular.module('myapp').controller('MyCtrl', ['$scope', function($scope){
        $scope.$on('jujuba', function(evt, data){
            console.log('MyCtrl jujuba: '+data.count);
        });
        var lang = 'ptbr';
        $scope.change_language = function(){
            lang = lang == 'ptbr' ? 'enus' : 'ptbr';
            $scope.$broadcast('change-language', {lang: lang})
        }
    }]);


    angular.module('myapp').directive('d2', function(){
        return {
            restrict: 'E',
            scope: {},
            replace: true,
            template: '<div><div>LANG2={[{lang}]}</div><button ng-click="jujuba()">Jujuba</button></div>',
            controller: ['$scope', '$rootScope', function($scope, $rootScope){
                var counter = 0;
                $scope.$on('change-language', function(evt, data){
                    $scope.lang = data.lang
                    console.log('d2 change language: '+data.lang);
                });
                $scope.jujuba = function(){
                    counter++;
                    $scope.$emit('jujuba', {count: counter});
                };
            }]
        }
    });

    angular.module('myapp').directive('d3', function(){
        return {
            restrict: 'E',
            scope: {},
            replace: true,
            template: '<div>d3 LANG3={[{lang}]}</div>',
            controller: ['$scope', function($scope){
                $scope.$on('change-language', function(evt, data){
                    $scope.lang = data.lang;
                    console.log('d3 change language: '+data.lang);
                });
                $scope.$on('jujuba', function(evt, data){
                    console.log('d3 jujuba: '+data.count);
                });
            }]
        }
    });
  </script>
</head>
<body ng-app="myapp" ng-controller="MyCtrl">
  <div class="head">
    <span style="font-weight:bold">ng-<span style="color: rgb(125, 25, 51);">masters</span></span>: AngularJS na prática
  </div>
<div class="container content"> 
  <h1>$watch e $on</h1>

  <section>
    <h3>$watch</h3>
    <input type="text" ng-model="t1">
    <input type="text" ng-model="t2.msg">
    <button ng-click="t2 = {}">Reset t2</button>

    <d1-watch-p1p2 p1="{[{ t1 }]}" p2="t2"></d1-watch-p1p2>
  </section>

  <section>
    <h3>emit, broadcast, on</h3>
    <button ng-click="change_language()">Change Language</button>
    <hr>
    <d2></d2>
    <hr>
    <d3></d3>
    <hr>
    <h3>Resuminho</h3>
    <ul>
      <li>$emit joga o evento pra cima</li>
      <li>$broadcast joga o evento pra baixo</li>
      <li>Pra escopos em hierarquias diferentes, $rootScope.$broadcast</li>
    </ul>
  </section>

  <footer>
    <h3>Cool! Dá pra ver um exemplo prático dessas coisas?</h3>

    <p>Com certeza!</p>

    <ul>
      <li><a href="010-navegador_de_repositorios_estrutura.html">Repensando o navegador de repositórios</a></li>
    </ul>
  </footer>

</div>
</body>
</html>
